* {

}

html {
    box-sizing: border-box;

}



main {

    height: 90vh;
    display: flex;
}

.content {
    width: 80%;
 
    display: flex;
    gap: 25px;
    padding: 25px;
}


.sidebar {
    padding-top: 25px;
    width: 20%;
}

footer {
    text-align: center;
    padding: 12px;
    font-size: 12px;
    height: 4vh;
}
